.hero {
	width: 100vw;
	height: 100Vh;
	background-color: #3f4217;
	font-family: "Exo 2", serif;
}

.hero__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.hero__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px 50px;
}

.hero__content-head {
	display: flex;
	justify-content: space-between;
}

.content-head__date {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.content-head__date-about {
	font-size: 18px;
	text-transform: uppercase;
}

.content-head__date-text {
	font-size: 24px;
	line-height: 1;
	font-weight: 700;
	color: var(--col-yellow);
}

.content-head__logo {
	height: 60px;
	display: flex;
	gap: 15px;
}

.content-head__logo-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content-head__logo-text-item {
	color: var(--col-white);
}

.content-head__logo-text-item:nth-child(3) {
	font-size: 20px;
	font-weight: 700;
	color: var(--col-yellow);
}

.hero__content-main {
	margin-right: 100px;
	width: 100%;
}

.content-main__about {
	font-size: 20px;
	text-transform: uppercase;
}

.content-main__title {
	font-family: "Exo 2", serif;
	font-size: 38px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--col-yellow);
	margin: 20px 0;
}

.content-main__desc-text {
	font-family: "Exo 2", serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
}

.content-main__link-item {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--col-white);
	background-color: rgb(190, 7, 7);
	padding: 15px 25px;
	display: inline-block;
	border-radius: 15px;
	margin: 40px 0;
}

.content-main__team {
	color: var(--col-yellow);
}

.content-main__team-title {
	font-size: 20px;
	margin-bottom: 25px;
}

.content-main__team-member {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 7px;
}

.content-main__team-desc {
	color: var(--col-white);
	font-size: 18px;
	line-height: 20px;
}

.content-main__team-desc:nth-child(3) {
	margin-bottom: 12px;
}

.hero__picture-item {
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

.content-main__phone {
	font-size: 17px;
	color: var(--col-yellow);
	text-transform: uppercase;
	margin-top: 40px;
}

.content-main__phone-link {
	margin-top: 5px;
	display: inline-block;
	color: var(--col-white);
}

.hero__content {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.hero__picture {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
}

.hero__mobile {
	display: none;
}

/* ------------ mobile 700 --------------- */

.hero__mobile {
	padding-top: 30px;
	background-color: #3f4217;
}

.mobile__logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mobile__logo-img {
	height: 70px;
	object-fit: cover;
}

.mobile__logo-name {
	font-size: 18px;
	font-weight: 700;
	margin-top: 7px;
	margin-bottom: 7px;
	color: var(--col-yellow);
}

.mobile__logo-text {
	font-size: 14px;
}

.mobile__logo-text:nth-child(3) {
	margin-bottom: 5px;
}

.mobile__image {
	margin-top: 30px;
}

.mobile__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mobile__content-title {
	font-size: 26px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--col-yellow);
	margin-top: 30px;
}

.mobile__content-subtitle {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	margin-top: 10px;
}

.mobile__content-link {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--col-white);
	background-color: rgb(190, 7, 7);
	padding: 10px 20px;
	display: inline-block;
	border-radius: 10px;
	margin: 30px 0;
}

.mobile__content-desc {
	font-size: 16px;
	line-height: 18px;
	font-weight: 300;
}

.mobile__content-desc-about:nth-child(1n) {
	margin-top: 7px;
}

.mobile__content-team {
	margin-top: 30px;
	font-size: 16px;
	line-height: 18px;
	color: var(--col-yellow);
}

.mobile__content-team-title {
	font-weight: 600;
}

.mobile__content-team-member {
	margin-top: 15px;
	font-weight: 700;
}

.mobile__content-team-desc {
	font-weight: 300;
	color: var(--col-white);
}

.mobile__content-team-desc:nth-child(3),
.mobile__content-team-desc:nth-child(5) {
	margin-top: 10px;
}

.mobile__content-phone {
	margin: 50px 0 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.mobile__content-phone-text {
	text-transform: uppercase;
	color: var(--col-yellow);
}

.mobile__content-phone-link {
	display: inline-block;
	color: var(--col-white);
}
